[submodule "RP2040-Encoder"]
	path = RP2040-Encoder
	url = https://github.com/tobiglaser/RP2040-Encoder.git
[submodule "pi-pico-LCD"]
	path = pi-pico-LCD
	url = https://github.com/martinkooij/pi-pico-LCD.git
